/* work sans font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
  }
  /* header style */
  header{
    background: rgba(255, 144.05, 13.81, 0.10);
    padding: 50px 240px;
  }
  .font{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav > ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 500;
    line-height: 26px;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  /* banner styles */
  .content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .title{
    font-size: 4rem;
    font-weight: 700px ;
    color: #131313;
  }
  .description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .primary{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
  }
  .banner img{
    width: 100%;
    margin-top: 10px;
  }
  /* responsive media queries */
  /* mobile devices */
  @media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
  }
  /* tablet devices */
  @media  and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
  }


